@inactive: #BBBBBB;

.todo {
    position: relative;

    > span {
        cursor: pointer;
    }

    > input[type="text"] {
        position: absolute;
        left: 15px;
    }

    &.complete {
        > span {
            text-decoration: line-through;
            color: @inactive;
            cursor: default;
        }
    }
}
